<footer style="bottom: -300px;">
  <div class="container">
    <h1 class="footter-title">Together</h1>
    <a href="#" class="scrollpoint sp-effect3 active animated fadeInDown">
      <img src="" alt="" class="logo">
    </a>
    <div class="social">
      <a href="#" class="scrollpoint sp-effect3 active animated fadeInDown">
        <%= fa_icon 'twitter' %>
      </a>
      <a href="#" class="scrollpoint sp-effect3 active animated fadeInDown">
        <%= fa_icon 'instagram' %>
      </a>
      <a href="#" class="scrollpoint sp-effect3 active animated fadeInDown">
        <%= fa_icon 'facebook' %>
      </a>
    </div>
    <div class="rights">
      <p>Copyright © 2017</p>
      <p><a href="http://www.ittan.website" target="_blank">ITTAN.inc</a></p>
    </div>
    <div class="links row">
      <!--TODO リンク先決めねば-->
      <div class="col-xs-12 col-md-3 text-center">
        <a>お問い合わせ</a>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
        <a>運営会社</a>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
        <a>利用規約</a>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
        <a>プライバシーポリシー</a>
      </div>
    </div>
  </div>
</footer>