<header class="header-top">
  <div class="header-logo">
    <a href="/">Gather</a>
  </div>
  <ul class="header-menus">
    <li><%= link_to('新規登録', '/users/sign_up')%></li>
    <li><%= link_to('ログイン', '/users/sign_in')%></li>
  </ul>
</header>

<div class="top-main">
  <div class="top-message">
    <p>みんな集まろうぜ！</p>
  </div>
</div>