@import "shadow";

#event-index {
  font-family: 'Tsukushi A Round Gothic';
  h1 {
    text-align: center;
    color: #808080;
  }
  h2 {
    color: #808080;
  }
  .row {
    margin-top: 15px;
  }
  .event {
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    .image {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    .info {
      padding: 15px;
      .date {
        font-size: .8rem;
        color: #808080;
      }
      .name {
        font-size: 1.5rem;
      }
      .capacity {
        font-size: .8rem;
        color: #808080;
      }
    }
  }
}

#event-show {
  position: relative;
  .row {
    margin-top: 15px;
  }
  font-family: 'Tsukushi A Round Gothic';
  label {
    color: #808080;
  }
  h1 {
    margin-bottom: .5em;
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #4AA69D;
    color: #808080;
  }
  h2 {
    margin-bottom: .5em;
    color: #808080;
  }
  #invitation {
    display: none;
    position: absolute;
    margin: auto;
    padding: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 25%;
    border-radius: 5px;
    @extend .depth-4;
    #invitation-url {
      padding: 5px;
    }
  }
  .border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  i {
    margin-right: 1em;
  }
}

#event-new {
  font-family: 'Tsukushi A Round Gothic';
  label {
    color: #808080;
  }
  h1 {
    margin-bottom: .5em;
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #4AA69D;
    color: #808080;
  }
}

#event-edit {
  font-family: 'Tsukushi A Round Gothic';
  label {
    color: #808080;
  }
  h1 {
    margin-bottom: .5em;
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #4AA69D;
    color: #808080;
  }
}