#user-login {
  font-family: 'Tsukushi A Round Gothic';
  .separate {
    position: relative;
    margin-bottom: 40px;
    border: 2px solid #808080;
    .or {
      position: absolute;
      top: -13px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
      z-index: 10;
      height: 40px;
      width: 80px;
      background-color: #ffffff;
      color: #808080;
      font-size: 30px;
      text-align: center;
    }
  }
  .icon-box {
    margin-bottom: 60px;
    .icon-cube {
      position: relative;
      padding: 30px 38px;
      margin: 20px;
      border-radius: 50%;
      cursor: pointer;
    }
    .facebook {
      background-color: #4A66AD;
    }
    .twitter {
      background-color: #5BA0EC;
    }
    .google {
      background-color: #D06558;
    }
    i {
      position: absolute;
      top: 14px;
      left: 18px;
      color: #ffffff;
    }
    .fa-facebook {
      top: 14px;
      left: 18px;
    }
    .fa-twitter {
      top: 14px;
      left: 18px;
    }
    .fa-google-plus {
      top: 14px;
      left: 10px;
    }
  }
  .row {
    margin-top: 15px;
  }
}

#user-edit {
  font-family: 'Tsukushi A Round Gothic';
  h1 {
    margin-bottom: .5em;
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #4AA69D;
    color: #808080;
  }
  h2 {
    margin-bottom: .5em;
    color: #808080;
  }
  label {
    color: #808080;
  }
  i {
    margin-right: 1em;
    color: #808080;
  }
  em {
    color: #808080;
    font-size: .1rem;
  }

  img {
    height: 100%;
    width: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
}


#user-registration {
  @extend #user-login
}

#user-password {
  .row {
    margin-top: 15px;
  }
}